#spu-bg{
    display:none;
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:#000;
    z-index:9999998
}
#spu-main{
    min-width: 320px;
    max-width: 420px;
    position: fixed;
    left: -99999px;
    background: #fff;
    z-index: 9999999;
    -moz-border-radius: 9px;
    /* border-radius: 9px; */
    -webkit-border-radius: 9px;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: left;
    font-family: arial,sans-serif !important;
    font-size: 13px;
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
    box-shadow: 0 4px 16px rgba(0,0,0,.2);
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #acacac;
    border: 1px solid rgba(0,0,0,.333);
    outline: 0;
}
#spu-close{
    float:right;
    font-size:12px;
    color:#000 !important;
    margin:0 13px 0 0;
    border-bottom:0 !important;
    text-decoration:underline !important
}
#spu-close:hover{
    text-decoration:none !important
}
#spu-bottom{
    padding:5px 10px 10px 0
}
#spu-counter{
    font-size:11px !important;
    text-align:right
}
.spu-button{
    overflow: hidden;
}
.spu-button.first{
    margin-left:0
}
#spu-timer{
    position: absolute;
    left: 4px;
    bottom: 0px;
    font-size: 11px;
}
@media only screen and (max-width: 620px) {
    #spu-main {max-width:300px;}
}
#spu-title{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin: 15px;
    margin-top: 0;
}
#spu-body{
    padding: 25px;
}
#spu-msg{
    font-size: 17px;
    text-align: center;
}
#spu-main{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
 
}
.spu-button{
    display: inline-block;
}
.spu-facebook{
  margin-left: 11px;
  margin-bottom: 10px;
  width: 173px;
}
#spu-close{
    right: 0;
    margin: 0;
    padding: 6px 8px;
    /* content: " X "; */
    cursor: pointer;
    background: #E7E7E7;
    color: #B3B3B3!important;
    /* height: 20px; */
    font-size: 10px;
    font-family: arial;
    text-decoration: none!important;
}
.spu-button.spu-twitter {
    margin: 0 auto;
    width: 100%;
    margin-left: -7px;
}
.main_like_wsp{
    /*background: rgb(255, 255, 215);*/
    /*padding-top: 19px;
    margin-bottom: 10px;*/
}
/*.popup_mobile {
    width: 96%;
    top: 0!important;
    left: 0!important;
    max-width: 100%!important;
    max-height: 100%!important;
    bottom: 0;
    min-width: 300px!important;
    margin: 20px!important;
  /* margin-right: 63px!important;  
}
.popup_mobile #spu-title{
    font-size: 66px;
}
.popup_mobile #spu-msg > p {
  font-size: 55px;
  text-align: center;
  line-height: 64px;
  margin-top: 77px;
}*/
/* responsive */

